<h1 align="center" style="color: #ffa519">图表可右键保存,也可配置导出，参看饼图与混合图</h1>
<h3 align="center"><a href="http://echarts.baidu.com/" target="view_window">更多类型请查看官网</a></h3>
<div class="row">
    <div class="col-sm-12">
        <echart [chartType]="pieChart" class="nf-chart"></echart>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <echart [chartType]="barChart" class="nf-chart"></echart>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <echart [chartType]="lineChart" class="nf-chart"></echart>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <echart [chartType]="hunheOption" class="nf-chart"></echart>
  </div>
</div>
