<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>{{ title }}</th>
            <th *ngFor="let column of columns" >
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows;let i=index" >
            <td>{{ i +1}}</td>
            <td *ngFor="let column of columns" >
                {{ row[column.field] }}
            </td>
        </tr>
    </tbody>
</table>
<pagination [totalItems]="totalItems" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" firstText="{{'firstPage' | translate}}" lastText="{{'lastPage' | translate}}" previousText="{{'previousPage' | translate}}" nextText="{{'nextPage' | translate}}" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)" class="pagination-sm"></pagination>
